language: php

php:
  - 5.6

before_script:
  - cp .env.travis .env
  - mysql -e 'create database homestead_test;'
  - composer self-update
  - composer install --no-interaction

script:
  - vendor/bin/phpunit
env:
  global:
    - secure: "Vpkc8+ocbq1uNYt2Iz9mGCcGqkdXUBjyYRpDEWPMjPrcbWoQoiiTcVjNfz5j9fQSpDaq7y93EnEV6CtugE9OLgxeHoh3oufR6GxuGqv+kNh9zjOxd8tNsCFrRwMepncRrJeVqRa1xoK9QEzigwyf3KFBJl9BPHGjfJce6ZYvPO6bHNtnno80h878LUPDZxCySsxMa+/yqvyjW5p6cAfIEBB7/0xquvlXgx5qJWW9JyPoo/Ip++HDwEsXuGXtjYJL63BhhlyvphwRXIUQf0isRAymbMgLC7xWV0Nf54UAFEfEUruRcN98WNvthDpFtwoOAf3nPxUJrwiVK8bhpNQ97Tb9x57M2sCUgDeyflxS8yN2qdGzsJV5Pn/cysuEFqnkRd24nTdExuVp7AUHMELrUfnH1HU9ICF36kq7bjcOIV3pJk4ApfMbbpmHZNW8c15uqa/PNiczqejvZ16PD3KC6JjkBpd8Yyx7OlXz54eP547ja5IqAGOX8LMiMVH1V+8L+iy/PT9Qz2Xcp386lDuSIIjuvAulAcXRiWnS/3NQydMDSpDYaalGC6PtiDbFMYpxXjKmn1jb8OXeG4ARmw2oylsMcsOYFwDNe19iIagGsEO2J1TkCg7F+H678jBjZAUun4cdYLDFvZXyzOVQ8RoBjphN/FRiiYYUbGhj/xjCDaw="
    - secure: "AXEHtc8YKo+EK3oQBRQl1Cx7hZUHOur2aBKCNotSKlHsU7BKm9ORhS6UE//dETFmcRq5zK6BUag9h4mfWJ7K3zgXurMyHLg/R4Xb+Ij0q9hUxnQbhm6oxGJWnY2GSlaeUaptQ+Me5P/MmkZO92vVEW0BBJLoIxYX723lWKoDHyPESDwF04O68MxNGrWNNlH+Ams+bJ9TwP224qQsRtO12S9hDBj+SNUlqJwNEK6yNWUlh+7vI+g31mdt7JoBOsP9f35FDsH/n9VzJ8DXlYGE5wfbQfwK6JMEPu35jEbd4jN8RnmsX7jas0ZTBqtNslS5gUa7EglnbuhHvLvHT2yb6pA/bHv5gs4rkXu/558xpEIFE5uZE1yLNQCRXX0vaHZsKuFBZ74SnQPQud3c3KpKvWomNF6aOOnyDhwloGJTSKLalqGLEi0h7y1xAfP37FtkmRllLoKWJfuGdkHBR1Ppep0sPdSHL9+0mit9aM654DLaorFCvxItQkE+LhmajQV5JnlyNvsvfXh2SeiSR3cRS/WY0g3UFe5FjRrBZyWvkOtmwSljkGSONsmNMVaIbE1jxgIIiTpa/5Mx+AsR+UVdOMSw3oqXwwLhVSmEhwi2wqw+e0V2BohxdOt9glBPgm1dkkmUtEwRlRm5fOD+PUsEAPzuBqILz3BfnBn0th2IAS4="
after_success:
    - "find public -type f -exec curl -u $FTP_USER:$FTP_PASSWORD --ftp-create-dirs -T {} ftp://www.chromix.in/demos/foods/{} \\;"
